@import 'src/styles/_constants';

.form {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 $mainIndent 16px;
}

.form textarea {
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: none;
  outline: none;
  color: rgba(256, 256, 256, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.form textarea::-webkit-input-placeholder {
  color: rgba(256, 256, 256, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.form button {
  padding: 0;
  background: none;
  border: none;
  font-size: 32px;
}

.form button:active {
  padding-top: 5px;
}

@media screen and (min-width: 681px) {
  .form {
    padding: 0 $mainIndent681 16px;
  }
}

@media screen and (min-width: 1001px) {
  .form {
    padding: 0 $mainIndent1001 16px;
  }
}

@media screen and (min-width: 1551px) {
  .form {
    padding: 0 $mainIndent1551 16px;
  }
}
