@import '/src/styles/_constants';

@mixin message {
  max-width: $maxWidth;
  min-width: 30%;
  display: inline-block;
  position: relative;
  box-shadow: inset 1px 1px rgb(255 255 255 / 20%),
  inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
  background-color: transparent;
  background-image: linear-gradient(125deg,rgba(255,255,255,.3),rgba(255,255,255,.2) 70%);
  border-radius: 0.5rem;
}